<div class="row">
    <div class="col-12">
      <div
        class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
        id="layout-navbar"
      >
        <h3 class="m-0"><%- result.name %></h3>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body demo-vertical-spacing demo-only-element">
          <form
            action="/admin/category-update"
            method="post"
       
          >
  
            <div class="mb-3">
              <label for="defaultFormControlInput" class="form-label">Name</label>
              <input
                type="text"
                class="form-control"
                id="defaultFormControlInput "
                name="name"
                value="<%- result.name %>"
              />
            </div>
  
     
            
  
            <input type="hidden" name="id" value="<%- result.id %>" />
            <div class="text-center">
              <button class="btn btn-success mb-3">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  