<div class="row">
  <div class="col-12">
    <div
      class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
      id="layout-navbar"
    >
      <h3 class="m-0">Categories</h3>
    </div>
  </div>
</div>

<div class="row mt-4">
  <div class="card">
    <div class="table-responsive text-nowrap">
      <table class="table table-hover text-center">
        <thead>
          <tr>
            <th>Name</th>
            <th>Quantity</th>
            <th>Update</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody class="table-border-bottom-0">
          <% if (result != undefined) { %> <% for( let index = 0; index < result.length; index++ ) { %>
          <tr>
            <td>
              <span class="fw-medium"><%- result[index].name %></span>
            </td>
            <td>
              <% var i = 0; %>
              <% count.forEach(count => { %> 
                <% if (count.categoryId == result[index].id) { %> 
                  <% i++ %>
                  
                  <% } %>
                   <% }) %>
                  (<%- i %>) 
            </td>
            <td>
              <a
                href="/admin/category-update/<%- result[index].id %>"
                class="btn btn-success"
                >Update</a
              >
            </td>
            <td>
              <a
                href="/admin/category-delete/<%- result[index].id %>"
                class="btn btn-danger"
                >Delete</a
              >
            </td>
          </tr>
          <% } %> <% } else { %>
          <h3 class="text-center">There is no category</h3>
          <% } %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="text-center my-3">
    <a href="/admin/category-add" class="btn btn-primary btn-lg"
      ><i class="menu-icon tf-icons bx bx-plus"></i>Add Category</a
    >
  </div>
</div>
