<div class="row">
    <div class="col-12">
      <div
        class="px-3 py-4 mb-3 rounded d-flex flex-row justify-content-center align-items-center navbar-detached bg-navbar-theme"
        id="layout-navbar"
      >
        <h3 class="m-0">Footer Settings</h3>
      </div>
    </div>
  </div>
  
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body demo-vertical-spacing demo-only-element">
          <form
            action="/admin/footer"
            method="post"
          
          >
            
            
              <div class="row">
                  <div class="col mb-3">
                    <label for="defaultFormControlInput" class="form-label"
                      >Instagram</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="defaultFormControlInput "
                      name="instagram"
                      value="<%- result.urls.instagram %>"
                      required
                    />
                  </div>
                  <input type="hidden" name="id" value="<%- result.id %>">
                  <div class="col mb-3">
                    <label for="defaultFormControlInput" class="form-label"
                      >Twitter</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="defaultFormControlInput "
                      name="twitter"
                      value="<%- result.urls.twitter %>"
                      required
                    />
                  </div>
                </div>
                <div class="row">
                  <div class="col mb-3">
                    <label for="defaultFormControlInput" class="form-label"
                      >Facebook</label
                    >
                    <input
                      type="text"
                      class="form-control"
                      id="defaultFormControlInput "
                      name="facebook"
                      value="<%- result.urls.facebook %>"
                      required
                    />
                  </div>
                  
                </div>
  
  
            <div class="text-center">
              <button class="btn btn-success mb-3">Update</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script>
    function displaySelectedImage(event, elementId) {
      const selectedImage = document.getElementById(elementId);
      const fileInput = event.target;
  
      if (fileInput.files && fileInput.files[0]) {
        const reader = new FileReader();
  
        reader.onload = function (e) {
          selectedImage.src = e.target.result;
        };
  
        reader.readAsDataURL(fileInput.files[0]);
      }
    }
  </script>
  